<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <script type="text/javascript" src="/js/functions.js"></script>
    <script src="/soap/ajax/11.0/connection.js"></script>
    <script>{!INCLUDE($SControl.Date_Helper_Functions)}</script>
    <script>{!INCLUDE($SControl.Prototype_Libraries)}</script>
    

<link  href="/sCSS/12.0/1201654095000/PortalDefault/default/elements.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<script  type="text/javascript">try { DynamicCss.addCssUrl('/sCSS/12.0/1201654095000/PortalDefault/default/elements.css', 'handheld,print,projection,screen,tty,tv');} catch(e) {}</script>
<link  href="/sCSS/12.0/1201654095000/PortalDefault/default/common.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<script  type="text/javascript">try { DynamicCss.addCssUrl('/sCSS/12.0/1201654095000/PortalDefault/default/common.css', 'handheld,print,projection,screen,tty,tv');} catch(e) {}</script>
<link  href="/sCSS/12.0/1201654095000/PortalDefault/default/homeCalendar.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<script  type="text/javascript">try { DynamicCss.addCssUrl('/sCSS/12.0/1201654095000/PortalDefault/default/homeCalendar.css', 'handheld,print,projection,screen,tty,tv');} catch(e) {}</script>
<link  href="/sCSS/12.0/1201654095000/PortalDefault/default/dashboard.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<script  type="text/javascript">try { DynamicCss.addCssUrl('/sCSS/12.0/1201654095000/PortalDefault/default/dashboard.css', 'handheld,print,projection,screen,tty,tv');} catch(e) {}</script>
<link  href="/sCSS/12.0/1201795999000/PortalDefault/dStandard.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<script  type="text/javascript">try { DynamicCss.addCssUrl('/sCSS/12.0/1201795999000/PortalDefault/dStandard.css', 'handheld,print,projection,screen,tty,tv');} catch(e) {}</script>
<link  href="/sCSS/12.0/1201795999000/PortalDefault/00Do0000000HAAk/005o0000000M69B/dCustom0.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<script  type="text/javascript">try { DynamicCss.addCssUrl('/sCSS/12.0/1201795999000/PortalDefault/00Do0000000HAAk/005o0000000M69B/dCustom0.css', 'handheld,print,projection,screen,tty,tv');} catch(e) {}</script>
<link  href="/sCSS/12.0/1201654095000/PortalDefault/default/extended.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<script  type="text/javascript">try { DynamicCss.addCssUrl('/sCSS/12.0/1201654095000/PortalDefault/default/extended.css', 'handheld,print,projection,screen,tty,tv');} catch(e) {}</script>

<!-- You need to update the two numbers in this link below.  The format is "/sCSS/12.0/PortalDefault/<ORGID>/<PortalId>/portal.css" */ -->
<link  href="/sCSS/12.0/PortalDefault/{!$Organization.Id}/060o0000000HEqf/portal.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />

	<style>
		html {
			/*background-color: #c8d7e3;*/
		}
		th {
			font-size: 11px;
		}	
	 	td {
	 		font-size: 11px;
	 	}
	 	.pbTitle h3 {
	 		font-size: 10px;
	 		height: 18px;
	 	}
	 	.pbTitle {
	 		vertical-align: middle;
	 		padding-top: 5px;
	 	}
		.bodyDiv {
			border-bottom-width: 0px;
			border-bottom-style: none;
			border-bottom-color: #000000;
			padding-top: 0px;
			margin-top: 0px;
			padding-bottom: 0px;
		}
	</style>
</head>
<body  onLoad="resize()" class="bodyDiv">

<div class="relatedListHeader">

<div class="bPageBlock secondaryPalette" >
	<div class="pbHeader"><table  border="0" cellpadding="0" cellspacing="0">
	<tr><td class="pbTitle"><img src="/s.gif" alt="" width="1" height="1" class="minWidth" title="" /><h3>Available Leads</h3></td></tr>
	</table></div>
	<div class="pbBody">
	<table class="list" border="0" cellspacing="0" cellpadding="0">
	<tr class="headerRow"><th class="actionColumn" scope="col">Action</th><th scope="col" class="">Name</th><th scope="col" class="">Title</th><th scope="col" class="">City</th><th scope="col" class="">Industry</th><th scope="col" class="">Lead Source</th><th scope="col" class="DateElement">Created</th></tr>
	<script>
	
		function formatDateTime(unformattedDate) {
			var d=getDateFromFormat(unformattedDate,  "yyyy-MM-ddTHH:mm:ss.000Z");

			var Hours = d.getHours();
			var ampm = "AM";
			if (Hours == 0) Hours = 12;
			if (Hours > 11)
				ampm = "PM";
			if (Hours > 12)
				Hours -= 12;
			
			var formattedDate = (d.getMonth()+1) + "/" + d.getDate() + "/" + d.getFullYear()+ " " + Hours + ":"+ d.getMinutes()+":" + d.getSeconds()+ " " + ampm
			return formattedDate;
		}
	
		function changeOwner(leadId) {
			//Change the current user to the owner of the lead
			var lead = new sforce.SObject("Lead");
			lead.Id=leadId;
			lead.OwnerId="{!User.Id}";
			
			var result = sforce.connection.update([lead]);
			
			//Redirect the user to the lead they have just accepted
			parent.window.location="/"+leadId;
		}
		
		function resize() {
			var frameId=parent.window.document.getElementById("availableLeads");
			frameId.height = window.document.body.scrollHeight; 
		}

	
		var result;
var records;
var accountId;
var contactId;
var contactName;
var name;
var accountName;
var channelMgrName;
var channelMgrEmail;
var title;
var city;
var industry;
var leadSource;
var createdDate;
var leadId;


try {

		result=sforce.connection.query("SELECT Id, Name, Title, City, toLabel(Industry), CreatedDate, IsConverted, IsUnreadByOwner, OwnerId, Owner.Type, LeadSource, ConvertedOpportunityId, ConvertedOpportunity.Name FROM Lead Where IsConverted=false AND Owner.Type='Queue' ORDER BY CreatedDate DESC LIMIT 10");

} catch(e) {  alert(e); }

		records=result.getArray("records");
		
		for (var i=0; i< records.length; i++) {
	
leadId=records[i].Id;
name= (records[i].Name != null ? records[i].Name : "&nbsp;");			
title= (records[i].Title != null ? records[i].Title : "&nbsp;");
			city= (records[i].City != null ? records[i].City : "&nbsp;");
			industry= (records[i].Industry != null ? records[i].Industry : "&nbsp;");
			leadSource= (records[i].LeadSource != null ? records[i].LeadSource : "&nbsp;");
			createdDate= formatDateTime(records[i].CreatedDate);
			Accept = "Accept";
			document.write("<tr onblur=\"if (window.hiOff){hiOff(this);}\" onfocus=\"if (window.hiOn){hiOn(this);}\" onmouseout=\"if (window.hiOff){hiOff(this);}\" onmouseover=\"if (window.hiOn){hiOn(this);}\"><td><a href=\"javascript: changeOwner('" + leadId + "');\">" + Accept + "</a></td><td>" + name + "</td><td>" + title + "</td><td>" +city + "</td><td>" + industry + "</td><td>" + leadSource + "</td><td>" +createdDate + "</td></tr>");
		}
	</script>
	</table>
	</div>
	<!-- End pbBody -->
	</div>
	<!-- End relatedListHeader -->

</div>
</body>
</html>